<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catCoder.mapper.FormSeqMapper">


    <!-- 修改流水号表记录 -->
    <update id="update">
		UPDATE FORM_SEQ SET
		SEQ_VALUE = SEQ_VALUE+1
		WHERE SEQ_CODE = #{seqCode}

	</update>

	<update id="updateForMulti">
		UPDATE FORM_SEQ SET
		SEQ_VALUE = SEQ_VALUE + #{offset}
		WHERE SEQ_CODE = #{formSeq.seqCode}
	</update>

    <!-- 通过业务表代码取得业务表主键值 -->
    <select id="findValueByCode" resultType="com.catCoder.bean.FormSeq">
		SELECT SEQ_VALUE FROM FORM_SEQ WHERE SEQ_CODE = #{seqCode}
	</select>

    <insert id="insert" >
        INSERT INTO FORM_SEQ (
		SEQ_CODE,
		SEQ_VALUE
		) VALUES (
		#{seqCode},
		#{seqValue}
		)
    </insert>
</mapper>